@layer fonts {
  /* barlow-semi-condensed-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Barlow Semi Condensed";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/barlow-semi-condensed-v16-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* barlow-semi-condensed-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Barlow Semi Condensed";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/barlow-semi-condensed-v16-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}

@layer global {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    min-height: 50vh;
    background-color: whitesmoke;
    padding-block-end: 100px;
    position: relative;
    font-family: "Barlow Semi Condensed";
  }

  h1,
  h2 {
    margin: 0;
    line-height: 1.1;
  }

  p {
    font-size: clamp(0.813rem, 0.676rem + 0.582vw, 1.2rem);
    line-height: 1.3;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  header ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }
}

@layer colors {
  :root {
    --Purple50: hsl(260, 100%, 95%);
    --Purple300: hsl(264, 82%, 80%);
    --Purple500: hsl(263, 55%, 52%);
    --White: hsl(0, 0%, 100%);
    --Grey100: hsl(214, 17%, 92%);
    --Grey200: hsl(0, 0%, 81%);
    --Grey400: hsl(224, 10%, 45%);
    --Grey500: hsl(217, 19%, 35%);
    --Darkblue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);
    --c-bgcolor-box1: var(--Purple500);
    --c-bgcolor-box2: var(--Grey500);
    --c-bgcolor-box3: var(--White);
    --c-bgcolor-box4: var(--Darkblue);
    --c-bgcolor-box5: var(--White);
    --c-border-daniel: var(--Purple300);
    --c-border-jonathan: var(--Grey500);
    --c-border-jeanette: var(--White);
    --c-border-patrick: var(--Purple500);
    --c-border-kira: var(--White);
    --fc-name-daniel: var(--Grey100);
    --fc-ver-daniel: var(--Grey200);
    --fc-name-jonathan: var(--Grey100);
    --fc-ver-jonathan: var(--Grey200);
    --fc-name-jeanette: var(--Grey500);
    --fc-ver-jeanette: var(--Grey400);
    --fc-name-patrick: var(--Grey100);
    --fc-ver-patrick: var(--Grey400);
    --fc-name-kira: var(--Darkblue);
    --fc-ver-kira: var(--Grey400);
    --fc-h2-daniel: var(--Grey100);
    --fc-h2-jonathan: var(--Grey100);
    --fc-h2-jeanette: var(--Grey500);
    --fc-h2-patrick: var(--Grey200);
    --fc-h2-kira: var(--Grey500);
    --fc-testimonial-daniel: var(--Grey200);
    --fc-testimonial-jonathan: var(--Grey200);
    --fc-testimonial-jeanette: var(--Grey400);
    --fc-testimonial-patrick: var(--Grey200);
    --fc-testimonial-kira: var(--Grey400);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (width >= 75rem) {
    padding-block: 15rem;
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.main__testimonials {
  max-width: calc(1300 / 16 * 1rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "dan" "jon" "jean" "pat" "kira";
  gap: 1.5rem;
  padding: 4rem 2rem;

  @media (width >= 60rem) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "dan jon" "jean pat" "kira kira";
  }

  @media (width >= 75rem) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "dan dan jon kira" "jean pat pat kira";
  }
}

/* COMMON IN CONTAINERS */

.testimonial {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.241);
  border-radius: 10px;
  padding: 2rem;
}

.testimonial__img {
  max-width: 100%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;
}

.testimonial__title {
  font-size: clamp(1.2rem, 1.094rem + 0.451vw, 1.5rem);
  font-weight: 600;
  margin-block: 1rem;
}

.testimonial__description {
  line-height: 1.5;
  font-weight: 500;
}

/*INDIVIDUAL CONTAINERS*/

/* DANIEL CONTAINER */

.testimonial--daniel {
  grid-area: dan;
  background-color: var(--c-bgcolor-box1);
  position: relative;
}

.testimonial__title--daniel {
  position: relative;
  color: var(--fc-h2-daniel);
  z-index: 1;
}

.testimonial__description--daniel {
  color: var(--fc-testimonial-daniel);
}

.testimonial__quotation {
  display: none;
}

@media (width >= 75rem) {
  .testimonial__quotation {
    display: block;
    position: absolute;
    top: 0;
    right: 80px;
    width: 128px;
    height: 128px;
  }
}

/* JONATHAN CONTAINER */

.testimonial--jonathan {
  grid-area: jon;
  background-color: var(--c-bgcolor-box2);
}

.testimonial__title--jonathan {
  color: var(--fc-h2-jonathan);
}

.testimonial__description--jonathan {
  color: var(--fc-testimonial-jonathan);
}

/* JEANETTE CONTAINER */

.testimonial--jeanette {
  grid-area: jean;
  background-color: var(--c-bgcolor-box3);
}

.testimonial__title--jeanette {
  color: var(--fc-h2-jeanette);
}

.testimonial__description--jeanette {
  color: var(--fc-testimonial-jeanette);
}

/* PATRICK CONTAINER */

.testimonial--patrick {
  grid-area: pat;
  background-color: var(--c-bgcolor-box4);
}

.testimonial__title--patrick {
  color: var(--fc-h2-patrick);
}

.testimonial__description--patrick {
  color: var(--fc-testimonial-patrick);
}

/* KIRA CONTAINER */

.testimonial--kira {
  grid-area: kira;
  background-color: var(--c-bgcolor-box5);
}

.testimonial__title--kira {
  color: var(--fc-h2-kira);
}

.testimonial__description--kira {
  color: var(--fc-testimonial-kira);
}

/*TESTIMONIAL IMG*/

.testimonial__img--daniel {
  border: 2px solid var(--c-border-daniel);
}

.testimonial__img--jonathan {
  border: 2px solid var(--c-border-jonathan);
}

.testimonial__img--jeanette {
  border: 2px solid var(--c-border-jeanette);
}

.testimonial__img--patrick {
  border: 2px solid var(--c-border-patrick);
}

.testimonial__img--kira {
  border: 2px solid var(--c-border-kira);
}

/*AUTHOR AND STATUS - COMMON*/

.testimonial__profile {
  display: flex;
  align-items: center;
}

.testimonial__author {
  padding-left: 1.2rem;
}

.testimonial__name {
  font-size: clamp(0.938rem, 0.845rem + 0.394vw, 1.2rem);
  font-weight: 500;
}

.testimonial__status {
  font-size: clamp(0.813rem, 0.746rem + 0.282vw, 1rem);
  font-weight: 500;
}

/*AUTHOR AND STATUS - INDIVIDUAL*/

.testimonial__name--daniel {
  color: var(--fc-name-daniel);
}

.testimonial__status--daniel {
  color: var(--fc-ver-daniel);
}

.testimonial__name--jonathan {
  color: var(--fc-name-jonathan);
}

.testimonial__status--jonathan {
  color: var(--fc-ver-jonathan);
}

.testimonial__name--jeanette {
  color: var(--fc-name-jeanette);
}

.testimonial__status--jeanette {
  color: var(--fc-ver-jeanette);
}

.testimonial__name--patrick {
  color: var(--fc-name-patrick);
}

.testimonial__status--jeanette {
  color: var(--fc-ver-patrick);
}

.testimonial__name--kira {
  color: var(--fc-name-kira);
}

.testimonial__status--kira {
  color: var(--fc-ver-kira);
}

.footer__attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  justify-self: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
